<div class="c-product-details__sizes-{{ type }}">
    <span>{{ title }}:</span>
    <span class="tw-font-bold" x-text="Array.isArray(selectedSize.{{ value }}) ? selectedSize.{{ value }}.join(', ') : selectedSize.{{ value }}"></span>
</div> 